.jisoo {
  width: 200px;
  border-radius: 20px;
}
.kim {
  width: 200px;
  height: 200px;
  object-fit: cover;
  /* border: 2px solid red; */
}
.profile {
  border-radius: 100px;
}

.d7 {
  padding: 8px;
  width: 250px;
  border-radius: 4px;
  border: 1px solid black;
}

.e7 {
  padding: 8px 20px;
  width: 350px;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 2px 5px grey;
  margin-bottom: 20px;
}

.color {
  color: rgb(75, 72, 72);
  font-size: 14px;
}
.btn {
  background-color: rgb(4, 131, 249);
  color: white;
  border: none;
  padding: 20px 125px;
  border-radius: 50px;
}

.align {
  vertical-align: middle;
}
.pic {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.box {
  border: none;
  color: rgb(75, 72, 72);
  font-size: 16px;
}
.tweet-btn {
  background-color: rgb(4, 131, 249);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
